<table class="table table-striped">
  <tr>
    <th>s.no</th>
    <th>id</th>
    <th>name</th>
    <th>city</th>
    <th>salary</th>
  </tr>
  <tr *ngFor="let user of users; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.city }}</td>
    <td>{{ user.salary }}</td>
  </tr>
</table>
<div *ngIf="isActive">
  <h5 class="text-primary card-header text-center">
    hello its ngIf directive in angular...
  </h5>
</div>
<app-switch-comp></app-switch-comp>
